# Byte-compiled Python files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.swp
*.sublime-workspace
*.sublime-project

# Logs
*.log

# OS-specific files
*.bak
*.tmp
